<div class="breadcrumb">

    <p><a routerLink="">Home</a>  / {{caminho}}</p>
</div>

<div class="bordaimg">
    <div><img [src]="img01"></div>
    <h3>Escravidão</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img02"></div>
    <h3>Enciclopédia negra</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img03"></div>
    <h3>Brasil: Uma história</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img04"></div>
    <h3>Um país chamado Brasil</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img05"></div>
    <h3>1922</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img06"></div>
    <h3>A história do mundo</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img07"></div>
    <h3>Homo Deus</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img08"></div>
    <h3>1824</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img09"></div>
    <h3>História medieval</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img10"></div>
    <h3>História do Brasil</h3>

</div>



