<div class="breadcrumb">

    <p><a routerLink="">Home</a>  / {{caminho}}</p>
</div>

<div class="bordaimg">
    <div><img [src]="img01"></div>
    <h3>É assim que acaba</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img02"></div>
    <h3>Teto para dois</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img03"></div>
    <h3>Os dois morrem no final</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img04"></div>
    <h3>9 de novembro</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img05"></div>
    <h3>A garota do lago</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img06"></div>
    <h3>A revolução dos bichos</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img07"></div>
    <h3>Sira</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img08"></div>
    <h3>Todo esse tempo</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img09"></div>
    <h3>Elaine & Grey</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img10"></div>
    <h3>A rainha vermelha</h3>

</div>



