

<div class="breadcrumb">

    <p><a routerLink="">Home</a>  / {{caminho}}</p>
</div>

<div class="bordaimg">
    <div><img [src]="img01"></div>
    <h3>LULA</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img02"></div>
    <h3>Uma terra prometida - Barack Obama</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img03"></div>
    <h3>Contra o sistema da corrupção - Sergio Moro</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img04"></div>
    <h3>Will</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img05"></div>
    <h3>Amoroso</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img06"></div>
    <h3>Redentor</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img07"></div>
    <h3>Renegado</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img08"></div>
    <h3>Maringhela</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img09"></div>
    <h3>Travessia</h3>

</div>

<div class="bordaimg">
    <div><img [src]="img10"></div>
    <h3>Paixão força e coragem - Clovis Tramontina</h3>

</div>



